div.ClubDescription{
  padding: 25px;
  background-color: black;
  color: white;
  text-align: center;
}

.ClubDescription {
  text-align: center;
  color: white;
  background-color: teal;
  opacity:0.85;
  filter:(opacity = 85);
}

.ClubDescription h3 {
  border-bottom: 1px solid white;
  font-size: 18px;
}

.ClubDescription p{
  font-size:16px;
}
.ClubDescription h1{
  font-size: 18px;
}

.ClubDescription blockquote{
  color:black;
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}

.IconDisplay table {
  background-color: teal;
  width: 100%;
  border: 3px solid white;
}

.IconDisplay th {
  font-size: large;
  height: 50%;
  text-align: left;
}

.IconDisplay td{
  border-top: 3px solid white;
  background-color: black;
  text-align: center;
}

